@import '../../styles/mixins';
@import '../../styles/vars';
@import '../../styles/media-queries';

.header {
    background-color: $bg-color-dark;
    padding: 9px 20px 7.5px 20px;

    @include lt-xs {
        padding: 16px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: flex;
        flex: 0 0 72%;

        @include lt-md {
            flex: 1 1 auto;
        }
    }
}


