@import '../../../styles/mixins';
@import '../../../styles/vars';
@import '../../../styles/media-queries';

.kit__item {
    display: flex;
    align-items: center;
    flex: 0 0 30%;
    position: relative;

    .item__descr {
        margin-left: 17px;

        .item__title {
            @include ManropeMedium;

            font-size: 14px;
            line-height: 1.43em;
            color: $bg-color-dark;
        }

        .count_in_set {
            @include ManropeMedium;

            font-size: 14px;
            line-height: 1.43em;
            color: $bg-color-dark;
            opacity: 0.4;
        }
    }
}