@import '../../../styles/mixins';
@import '../../../styles/vars';
@import '../../../styles/media-queries';


.footer {
    background-color: $bg-color-dark;

    &__mobile {
        display: none;
        flex-direction: column;
        justify-content: center;
        padding: 98px 26px 17px 37.5px;

        @include lt-xs {
            display: flex;
        }
    }

    &__logo {
        padding-top: 111px;
        margin: 0 auto;
    }

    &__social_networks {
        display: flex;
        justify-content: space-between;
        margin-top: 85px;
    }
}