@import '../../../styles/mixins';
@import '../../../styles/vars';
@import '../../../styles/media-queries';

.discount__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
    z-index: 100;

    @include lt-xs {
        margin-top: 48px;
    }

    .form__input_row {
        display: flex;
        justify-content: center;
        width: 100%;

        @include lt-md {
            flex-direction: column;
            align-items: center;
        }

        .input_field {
            @include ManropeMedium;

            padding-left: 20px;
            margin-right: 43.5px;
            width: 254px;
            height: 55px;
            background: $bg-timer-color-light-grey;
            border-radius: 45px;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            border: 2px solid $bg-color-light;

            &::placeholder {
                color: $bg-color-dark;
                opacity: 1;
            }

            @include lt-md {
                margin-bottom: 20px;
                margin-right: 0;
            }

            @include lt-xxs {
                width: 100%;
            }

            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }

            &:focus {
                border: solid 2px $color-light-blue;
            }
        }
    }

    .btn_submit {
        @include ManropeSemiBold;

        display: block;
        width: 254px;
        height: 55px;
        margin-top: 50.5px;
        background: #040E18;
        border-radius: 60px;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $bg-color-light;
        cursor: pointer;
        will-change: background;
        transition: background .5s ease;
        border: 2px solid $bg-color-light;

        @include lt-md {
            margin-top: 44px;
        }

        @include lt-xxs {
            width: 100%;
        }

        &:hover {
            background: $color-light-blue;
        }
    }
}