@import '../../../styles/mixins';
@import '../../../styles/vars';

.menu__link {
    @include ManropeSemiBold;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: $grey-color;
    cursor: pointer;
    will-change: color;
    transition: color .3s ease;

    &:hover {
        color: $color-white;
    }

    &_active {
        cursor: pointer;
        color: $color-white;
        will-change: color;
        transition: color .3s ease;

        &:hover {
            color: $grey-color;;
        }
    }
}