@import '../../../styles/mixins';
@import '../../../styles/vars';
@import '../../../styles/media-queries';

.nav_link {
    margin-top: 25px;
    list-style: none;
    margin-right: 16px;

    a {
        @include ManropeMedium;

        font-size: 9px;
        line-height: 11px;
        color: $grey-color;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        text-decoration: underline;
    }
}