@import '../../styles/mixins';
@import '../../styles/vars';
@import '../../styles/media-queries';

.discount {
    background-color: $bg-color-dark;
    padding: 0 20px;

    &__wrapper {
        position: relative;
        margin: 0 auto;
        border-radius: 20px;
        background-color: $bg-color-light;
        overflow: hidden;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 128px 0;

        @include lt-md {
            padding: 50px 0;
        }

        @include lt-xs {
            padding: 50px 23px;
        }
    }

    &__title {
        @include ManropeSemiBold;

        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
        color: $color-light-blue;
        z-index: 100;

        span {
            line-height: 0.83em;
            text-shadow: 0 0 5px $bg-color-light;
        }

        @include lt-md {
            margin: 0 auto;
            max-width: 500px;
            font-size: 45px;
        }

        @include lt-sm {
            margin: 0 auto;
            max-width: 500px;
            font-size: 36px;
        }

        @include lt-xxs {
            margin: 0;
            max-width: 300px;
            text-align: left;
            font-size: 32px;
            line-height: 1.4em;
        }
    }

    &__descr {
        padding-top: 20px;
        max-width: 500px;
        margin: 0 auto;

        @include lt-xxs {
            margin: 0;
            text-align: left;
            max-width: 300px;
            padding-top: 12px;
        }

        p {
            @include ManropeMedium;

            text-align: center;
            font-size: 18px;
            line-height: 1.3em;
            letter-spacing: 0.02em;
            color: $bg-color-dark;

            @include lt-xxs {
                text-align: left;
                font-size: 14px;
            }
        }
    }

    .left_ribons {
        position: absolute;
        height: 100%;
        top: 0;
        user-select: none;
        left: 0;
        z-index: 0;

        @include lt-lg {
            left: -200px;
        }

        @include lt-xs {
            display: none;
        }
    }

    .right_ribons {
        position: absolute;
        height: 100%;
        top: 0;
        user-select: none;
        right: 0;
        z-index: 0;

        @include lt-lg {
            right: -200px;
        }

        @include lt-xs {
            right: -220px;
        }
    }
}