@import '../../../styles/mixins';
@import '../../../styles/vars';
@import '../../../styles/media-queries';

.menu {
    &__body {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        align-items: center;

        @include lt-md {
            display: none;
        }
    }

    &__list {
        display: flex;
        list-style: none;
        color: $color-white;

        li {
            margin-right: 45px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__phone {
        justify-content: flex-end;
        cursor: pointer;

        svg {
            circle:hover {
                fill: $grey-color;
            }
        }
    }
}