@import '../../../styles/mixins';
@import '../../../styles/vars';
@import '../../../styles/media-queries';

.footer__feedback {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    &:first-child {
        margin-top: 0;
    }
}

.feedback {
    &__email_field {
        display: flex;
        flex-direction: column;
    }

    &__field_name {
        @include RobotoRegular;

        font-size: 12px;
        line-height: 14px;
        color: $grey-color;
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__email {
        @include RobotoMedium;

        font-size: 24px;
        line-height: 28px;
        text-decoration-line: underline;
        color: $color-white;
        margin-top: 6px;
    }

    &__phone_number {
        @include RobotoMedium;

        margin-top: 6px;
        font-size: 24px;
        line-height: 22px;
        color: $color-white;
    }

    &__messengers {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        font-size: 22px;
        margin-left: 22px;
        flex: auto;
    }
}