@import './_mixins.scss';
@import './_media-queries.scss';

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.blue_selection {
    color: #0090FF;
}

.btn {
    @include ManropeSemiBold;

    display: block;
    background-color: #0090FF;
    border-radius: 60px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F1F4F6;
    will-change: color;
    transition: background-color .3s ease;

    &_main {
        margin-top: 32px;
        width: 254px;
        height: 55px;

        @include lt-xxs {
            width: 300px;
        }
    }

    &_timer {
        margin: 52px auto 0 auto;
        width: 225px;
        height: 45px;

        @include lt-xs {
            width: 300px; 
            height: 55px;
            margin: 24px auto 0 auto;
        }
    }

    &:hover {
        background-color: #41acff;
    }
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    bottom: 40px !important;
    left: 50%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 49px !important;
    height: 19px !important;
    background: #EFEFEF !important;
    border-radius: 30px !important;

    li {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        width: 7px !important;
        height: 7px !important;
        background: #C4C4C4 !important;
        border-radius: 100px !important;
    }

    .slick-active {
        background: #0090FF !important;
    }
}

.fa-brands {
    color: white;
}