@mixin ManropeSemiBold {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

@mixin ManropeMedium {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

@mixin ManropeBold {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

@mixin RobotoRegular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin RobotoMedium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


