@import '../../styles/mixins';
@import '../../styles/vars';
@import '../../styles/media-queries';

.timer {
    background-color: $bg-color-dark;

    @include lt-xs {
        padding: 0;
    }

    &__wrapper {
        border-radius: 20px;
        background: $bg-color-light;
        padding: 115px 0 94px 0;

        @include lt-md {
            padding: 50px 20px 113px 20px;
        }
    }

    &__title {
        @include ManropeSemiBold;

        font-size: 60px;
        line-height: 1.36em;
        text-align: center;
        text-transform: uppercase;
        color: $bg-color-dark;

        @include lt-md {
            font-size: 45px;
        }

        @include lt-xs {
            font-size: 36px;
        }

        @include lt-xxs {
            padding: 0 16px;
            text-align: left;
            font-size: 32px;
        }
    }

    
}


